:root {
	--basePurple: #08060d;
	--baseGrey: #121212;
	--secondaryPurple: #1e1535;
	--accentPurple: #0c0623;
	--accentGrey: #1e1e1e;
	
	--primaryTetiaryPurple: #0C0815;
	--secondaryTetiaryPurple: #120D20;
	
	--logWarn: #fca253;
	--logMute: #5772be;
	--logUnmute: #00ff7b;
	--logKick: #f2a013;
	--logBan: #d64848;
	--logUnban: #00ff7b;
	
	/* Boostrap variables */
	color: white;
	font-family: Arial, Helvetica, sans-serif;

	--bs-body-color: white;
    --bs-font-sans-serif: 'Lexend', Arial, Helvetica, sans-serif;
}


html, body {
	height: 100%;
	margin: 0;
	overflow-x: hidden;
}
body {
	background-color: var(--basePurple)!important;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}
main {
	flex: 1;
	overflow-y: auto;
	scrollbar-gutter: stable;
}
h5 {
	margin: 0;
}

main::-webkit-scrollbar {
	width: 10px;
}
main::-webkit-scrollbar-track {
	background: transparent;
	box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
}
main::-webkit-scrollbar-thumb {
	background-color: var(--accentGrey);
	border-radius: 5px;
	border: 2px solid var(--baseGrey);
}
main::-webkit-scrollbar-thumb:hover {
	background-color: var(--basePurple);
}

nav.navbar {
	background-color: var(--baseGrey)!important;
}

nav.navbar .dropdown-menu.logoutarea, .dropdown-menu.selectserverarea {
	background-color: var(--baseGrey)!important;
}

nav.navbar .dropdown-item.logoutbtn:hover, .dropdown-item.serverbtn:hover {
	background-color: var(--accentGrey);
	border-radius: 0.25rem;
}

nav.navbar .dropdown-item.serverbtn.noserver {
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
}

nav.navbar .selectServerDropDown::after, nav.navbar .userDropDown::after {
	position: absolute;
	right: 1rem; /* keeps it on the right edge */
}

.card {
	border: 0.2rem solid var(--accentGrey);
	border-radius: 10px;
}
.card-header {
	background-color: var(--primaryTetiaryPurple);
	border-bottom-color: var(--accentGrey);
	border-radius: 5px 5px 0 0 !important;
}
.card-body {
	background-color: var(--secondaryTetiaryPurple);
	border-radius: 0 0 5px 5px !important;
}
.card .btn {
	background-color: var(--basePurple);
	border-color: var(--accentGrey);
}

.card.Warn .card-header {
	border-bottom-color: var(--logWarn);
}
.card.Warn .btn {
	background-color: var(--logWarn);
}

.card.Mute .card-header {
	border-bottom-color: var(--logMute);
}
.card.Mute .btn {
	background-color: var(--logMute);
}

.card.Unmute .card-header {
	border-bottom-color: var(--logUnmute);
}
.card.Unmute .btn {
	background-color: var(--logUnmute);
}

.card.Kick .card-header {
	border-bottom-color: var(--logKick);
}
.card.Kick .btn {
	background-color: var(--logKick);
}

.card.Ban .card-header {
	border-bottom-color: var(--logBan);
}
.card.Ban .btn {
	background-color: var(--logBan);
}

.card.Unban .card-header {
	border-bottom-color: var(--logUnban);
}
.card.Unban .btn {
	background-color: var(--logUnban);
}

.modal-content {
	border: 0.2rem solid var(--accentGrey);
	border-radius: 12px;
}
.modal-header {
	background-color: var(--primaryTetiaryPurple);
	border-bottom: 1px solid var(--accentGrey);
}
.modal-body, .modal-footer {
	background-color: var(--secondaryTetiaryPurple);
	border: none;
}
.modal .btn.btn-danger {
	background-color: var(--bs-btn-bg);
}
.modal .btn.btn-success {
	background-color: var(--bs-btn-bg);
}

.modal.modal-static .modal-dialog,
.modal.show.modal-static .modal-dialog,
.modal.fade.modal-static .modal-dialog {
	transform: none !important;
	animation: none !important;
}

.toast {
	color: white;
	border: 0.1rem solid var(--accentGrey);
}
.toast-header {
	border-bottom: 1px solid var(--accentGrey);
	color: white;
}

.alert {
	position: fixed;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 9999;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.dropdown-menu {
	background-color: var(--basePurple);
	color: white;
	border: 1px solid var(--accentGrey);
	border-radius: 0.5rem;
}
.dropdown-item {
	color: white;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#requiredRolesDropdown {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.dropdown-item:hover {
	background-color: var(--accentGrey);
	color: white;
}
ul.dropdown-menu::-webkit-scrollbar {
	width: 10px;
}
ul.dropdown-menu::-webkit-scrollbar-thumb {
	background-color: var(--accentGrey);
	border-radius: 0px 5px 5px 0px;
}
ul.dropdown-menu::-webkit-scrollbar-track {
	background: var(--basePurple);
	box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
	border-radius: 0px 100px 100px 0px;
}

.form-switch, .form-check {
	padding: 0 !important;
}
.switch {
	display: inline-block;
	position: relative;
	width: 2.5rem;
	height: 1.25rem;
	margin-right: 0.5rem;
}

.switch {
	display: inline-block;
	position: relative;
	width: 2.5rem;
	height: 1.25rem;
}
.switch:not(.d-md-none .switch) {
	margin-right: 1rem;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	cursor: pointer;
	background-color: #ff6b6b;
	border-radius: 1rem;
	transition: background-color 0.15s linear;
}
.switch input:checked + .slider {
	background-color: #66bb6a;
}
.slider:before {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}



.knob {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 1rem;
	height: 1rem;
	background-color: #ffffff;
	border-radius: 50%;
	transition: transform 0.15s linear;
}
.switch input:checked ~ .knob {
	transform: translateX(0.9rem) translateY(-50%);
}

.form-check-input {
	margin-left: 0px !important;
	margin-right: 0.5rem
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: white !important;
}
.form-control::-ms-input-placeholder { /* Microsoft Edge */
            color: white !important;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: white !important;
}