:root {
    --basePurple: #08060d;
    --baseGrey: #121212;
    --secondaryPurple: #1e1535;
    --accentPurple: #0c0623;
    --accentGrey: #1e1e1e;

    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* Terms, Privacy etc */
body {
    background-color: var(--baseGrey);
}
.policyBody .container {
    max-width: 1200px
}
.policyBody .link-light {
    color: #c0e8ff;
    text-decoration: underline;
}
.policyBody ol {
    counter-reset: list;
    padding-left: 1rem;
}
.policyBody ol > li {
    list-style: none;
}
.policyBody ol > li::before {
    content: "(" counter(list, lower-alpha) ") ";
    counter-increment: list;
}

/* Navbar */
.navbar-main {
    background-color: var(--secondaryPurple);
    border-bottom: 1px solid var(--accentGrey);
}
.navbar-main .navbar-login-section {
    margin-right: 1rem;
}

/* Footer */
.footer-main {
    background-color: var(--secondaryPurple);
    border-top: 1px solid var(--accentGrey);
}

.btn-outline-grey {
    color: var(--accentGrey)!important;
    background-color: transparent;
    background-image: none;
    border-color: var(--accentGrey)!important;
}
.btn-outline-grey:hover {
    background-color: var(--accentGrey)!important;
    background-image: none;
    border-color: var(--accentGrey)!important;
}