# Your Discord bot token
ASBWIG_TOKEN=tokenXXXX
ASBWIG_CLIENTID=clientID
ASBWIG_CLIENTSECRET=secretXXXX

# Webserver
ASBWIG_HOST=domain
export ASBWIG_ASBWIG_TERMSURLOVERRIDE= URL here" # Optional
export ASBWIG_PRIVACYURLOVERRIDE="your URL here" # Optional

# Your user ID
ASBWIG_OWNERID=userID

# Database
ASBWIG_PGHOST=db
ASBWIG_PGDB=asbwig
ASBWIG_PGUSER=asbwig
ASBWIG_PGPASSWORD=password