name: summit

volumes:
  db:

networks:
  default:

services:
  app:
    container_name: summit-app
    image: RhykerWells/summit:latest
    restart: unless-stopped
    networks:
      - default
    env_file:
      - app.env
    depends_on:
      - db
    ports:
      - 80:80
  db:
    container_name: summit-postgres-db
    image: postgres:16
    restart: no
    volumes:
      - db:/var/lib/postgresql/data
    networks:
      - default
    env_file:
      - db.env