{{define "footer"}}
<footer class="footer-main py-3">
	<ul class="nav justify-content-center pb-3 mb-3 border-bottom">
		<li class="nav-item"><a href="{{.HomeURL}}/" class="nav-link px-2 text-light">Home</a></li>
		<div class="vr"></div>
		<li class="nav-item"><a href="{{.TermsURL}}" class="nav-link px-2 text-light">Terms of Use</a></li>
		<li class="nav-item"><a href="{{.PrivacyURL}}" class="nav-link px-2 text-light">Privacy policy</a></li>
	</ul>
	<p class="text-center text-light">© {{.Year}} Rhyker Wells | All rights reserved</p>
</footer>
{{end}}