<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="./static/img/avatar.png">
	<title>ASBWIG</title>
	<!-- Custom CSS -->
	<link rel="stylesheet" href="./static/css/index.css">
</head>
<body>
	<div class="main">
		<div class="profile">
			{{if not .User}}
				<a href="./login" class="login-button">Login</a>
			{{end}}
			{{if .User.username}}
				<a href="./logout" class="logout-button">Logout</a>
			{{end}}
		</div>
		{{if .User.username}}
			<div class="username">
				<p>{{.User.username}}</p>
			</div>
		{{end}}
	</div>
</body>
</html>