<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ASBWIG</title>
	<style>
		body {
			font-family: Arial, sans-serif;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh;
			margin: 0;
			background-color: #08060d;
		}
		.account-buttons>a {
			padding: 2.5rem 5rem;
			font-size: 2.25rem;
			color: white;
			background-color: #0c0623;
			border: none;
			border-radius: 1rem;
			cursor: pointer;
		}
		.account-buttons>a:hover {
			opacity: 60%;
		}
	</style>
</head>
<body>
	<div class="account-buttons">
		<a href="./login" class="login-button">Login</a>
		<a href="./logout" class="logout-button">Logout</a>
	</div>
</body>
</html>