{{define "navbar"}}
<nav class="navbar navbar-expand-sm fixed-top navbar-main">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">
			<img src="./static/img/avatar.svg" alt="logo" width="64" height="64">
		</a>
		<form class="d-flex navbar-login-section">
			{{if not .User}}
			<a class="btn btn-outline-light me-2" href="./login">Login</a>
			{{else}}
			<a class="btn btn-outline-light me-2" href="./logout">Logout</a>
			{{end}}
			<a class="btn btn-outline-light" href="./dashboard">Dashboard</a>
		</form>
	</div>
</nav>
{{end}}
{{define "footer"}}
<footer class="py-3 footer-main">
	<ul class="nav justify-content-center border-bottom pb-3 mb-3">
		<li class="nav-item"><a href="./" class="nav-link px-2 text-light">Home</a></li>
		<div class="vr"></div>
		<li class="nav-item"><a href="./terms" class="nav-link px-2 text-light">Terms of Use</a></li>
		<li class="nav-item"><a href="./privacy-policy" class="nav-link px-2 text-light">Privacy policy</a></li>
	</ul>
	<p class="text-center text-light">© {{.Year}} Rhyker Wells | All rights reserved</p>
</footer>
{{end}}
{{define "dashboard_nav"}}
<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
	<div class="container-fluid">
		<a class="navbar-brand" href="./">
			<img src="./static/img/avatar.svg" alt="logo" width="35" height="35">
		</a>
		<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<!-- Hide this vertical divider on mobile -->
				<div class="vr me-2 d-none d-sm-block"></div>
				{{if .User}}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle me-2 d-flex align-items-center text-light" href="#" role="button" id="serverDropdown" data-bs-toggle="dropdown" aria-expanded="false">
							Select server
						</a>
						<ul class="dropdown-menu selectserverarea w-100" aria-labelledby="serverDropdown" style="min-width: auto;">
							{{if .Guilds}}
								{{range .Guilds}}
									<li class="d-flex align-items-center gap-2 px-2 py-1">
										<a class="dropdown-item serverbtn m-0 p-0 d-flex align-items-center gap-2 text-light" href="#" style="white-space: normal; word-break: break-word;">
											<img src="{{.Avatar}}" class="rounded-circle flex-shrink-0" style="height: 32px; width: 32px;">
											{{.Name}}
										</a>
									</li>
								{{end}}
							{{else}}
								<li><p class="dropdown-item serverbtn noserver">You don't manage any servers</p></li>
							{{end}}
						</ul>
					</li>					
					<div class="vr me-2 d-none d-sm-block"></div>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle me-2 d-flex align-items-center text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<figure class="profile-picture me-2 mb-0">
								<img src="https://cdn.discordapp.com/avatars/{{.User.id}}/{{.User.avatar}}?size=64" class="rounded-circle w-auto" style="height: 32px; width: 32px;">
							</figure>
							{{.User.global_name}}
						</a>
						<ul class="dropdown-menu logoutarea" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item logoutbtn text-light" href="./logout">Logout</a></li>
						</ul>
					</li>
				{{else}}
					<li class="nav-item">
						<a class="nav-link text-light" href="./login">Login with Discord</a>
					</li>
				{{end}}
			</ul>
		</div>
	</div>
</nav>
{{end}}