{{define "navbar"}}
    <nav class="navbar navbar-expand-sm fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="./static/img/avatar.svg" alt="logo" width="64" height="64">
            </a>
            <form class="d-flex navbar-login-section">
                {{if not .User}}
                <a class="btn btn-outline-light me-2" href="./login">Login</a>
                {{else}}
                <a class="btn btn-outline-light me-2" href="./logout">Logout</a>
                {{end}}
                <a class="btn btn-outline-light" href="./dashboard">Dashboard</a>
            </form>
        </div>
    </nav>
{{end}}
{{define "footer"}}
	<footer class="py-3 fixed-bottom">
		<ul class="nav justify-content-center border-bottom pb-3 mb-3">
			<li class="nav-item"><a href="#" class="nav-link px-2 text-light">Home</a></li>
			<div class="vr"></div>
			<li class="nav-item"><a href="./terms" class="nav-link px-2 text-light">Terms of Use</a></li>
			<li class="nav-item"><a href="./privacy-policy" class="nav-link px-2 text-light">Privacy policy</a></li>
		</ul>
		<p class="text-center">© {{.Year}} Rhyker Wells | All rights reserved</p>
	</footer>
{{end}}