{{define "navbar"}}
<nav class="navbar navbar-expand-sm navbar-main fixed-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">
			<img src="{{.HomeURL}}/static/img/avatar.svg" alt="logo" width="64" height="64">
		</a>
		<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			<li class="nav-item">
				<a class="nav-link text-light" aria-current="page" href="https://discord.gg/3TQyZp67cW">Support server</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-light" aria-current="page" href="https://github.com/RhykerWells/Summit">Source code</a>
			</li>
		</ul>
		<div class="navbar-login-section d-flex">
			<a class="btn btn-outline-light" href="{{.HomeURL}}/dashboard">Dashboard</a>
		</div>
	</div>
</nav>
{{end}}
{{define "dashboard_nav"}}
<nav class="navbar navbar-expand-lg {{if .CurrentGuild}}sticky{{else}}fixed{{end}}-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{.HomeURL}}/">
			<img src="{{.HomeURL}}/static/img/avatar.svg" alt="logo" width="35" height="35">
		</a>
		<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="navbar-collapse collapse justify-content-end" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<!-- Hide this vertical divider on mobile -->
				<div class="vr d-none d-sm-block me-2"></div>
				{{if .User}}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle d-flex align-items-center position-relative me-2 pe-5 text-light selectServerDropDown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<figure class="profile-picture me-3 mb-0">
								<img src="{{if not .CurrentGuild}}{{.HomeURL}}/static/img/icons/magnifying-glass.svg{{else}}{{.CurrentGuild.Avatar}}{{end}}" class="rounded-circle w-auto" style="height: 32px; width: 32px;">
							</figure>
							<span class="d-flex flex-column">
								<span>{{if not .CurrentGuild}}Select server{{else}}{{.CurrentGuild.Name}}{{end}}</span>
								<span style="font-size: 0.8rem;">Switch server</span>
							</span>
						</a>
						<ul class="dropdown-menu selectserverarea w-100" aria-labelledby="serverDropdown" style="min-width: auto;">
						{{if .ManagedGuilds}}
							{{range .ManagedGuilds}}
								<li class="d-flex align-items-center gap-2 px-2 py-1">
									<a class="dropdown-item d-flex align-items-center m-0 gap-2 text-light serverbtn" href="{{$.HomeURL}}/dashboard/{{.ID}}/manage" style="white-space: normal; word-break: break-word; padding-left: 0rem;">
										<img src="{{.Avatar}}" class="rounded-circle flex-shrink-0" style="height: 32px; width: 32px; margin-left: 0.5rem">
										{{.Name}}
									</a>
								</li>
							{{end}}
						{{else}}
							<li><p class="dropdown-item serverbtn">You don't manage any servers</p></li>
						{{end}}
						{{if and .ManagedGuilds .AvailableGuilds}}
						<li>
							<hr />
						</li>
						{{end}}
						{{range .AvailableGuilds}}
							<li class="d-flex align-items-center gap-2 px-2 py-1">
								<a class="dropdown-item d-flex align-items-center m-0 gap-2 text-light serverbtn" href="{{getJoinLink .ID}}" style="white-space: normal; word-break: break-word; padding-left: 0rem;">
									<img src="{{$.HomeURL}}/static/img/icons/plus.svg" class="rounded-circle flex-shrink-0" style="height: 32px; width: 32px; margin-left: 0.5rem">
									{{.Name}}
								</a>
							</li>
						{{end}}
						</ul>
					</li>					
					<div class="vr d-none d-sm-block me-2"></div>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle d-flex align-items-center position-relative me-2 pe-5 text-light selectServerDropDown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<figure class="profile-picture me-3 mb-0">
								<img src="{{.User.AvatarURL "1024"}}" class="rounded-circle w-auto" style="height: 32px; width: 32px;">
							</figure>
							<span class="d-flex flex-column">
								<span>{{or .User.GlobalName .User.Username}}</span>
							</span>
						</a>
						<ul class="dropdown-menu logoutarea" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item logoutbtn text-light" href="{{.HomeURL}}/logout">Logout</a></li>
						</ul>
					</li>
				{{else}}
					<li class="nav-item">
						<a class="nav-link text-light" href="{{.HomeURL}}/login">Login with Discord</a>
					</li>
				{{end}}
			</ul>
		</div>
	</div>
</nav>
{{end}}