<!DOCTYPE html>
<html lang="en">
<head>
{{template "head" .}}
</head>
<body class="text-light">
	{{template "dashboard_nav" .}}
	<main id="main" class="d-flex m-4" style="background-color: var(--baseGrey); border-radius: 0.5rem">
		<div class="p-4 w-100">
			<a href="{{.HomeURL}}/dashboard/{{.CurrentGuild.ID}}/manage" class="btn text-light w-100" style="background-color: var(--accentGrey); border: 1px solid var(--accentGrey);">Home</a>
			<input type="hidden" name="form_type" value="Core">
			<div class="d-flex flex-column justify-content-between align-items-sm-center mt-1 mb-0">
				<div class="order-2 w-100 mt-2">
					<div class="d-flex justify-content-between align-items-center flex-wrap w-100">
						<div class="d-flex align-items-center">
							<h2 class="mb-0">Cases</h2>
						</div>
						<div class="row gx-2 gy-1">
							<div class="col-12 col-md-4">
								<div class="input-group">
									<input id="searchOffender" type="text" name="user" class="form-control text-light" placeholder="User ID/Name" value="" style="background-color: var(--basePurple); border: 1px solid var(--accentGrey);">
								</div>
							</div>
							<div class="col-12 col-md-4">
								<div class="input-group">
									<input id="searchModerator" type="text" name="moderator" class="form-control text-light" placeholder="Moderator ID/Name" value="" style="background-color: var(--basePurple); border: 1px solid var(--accentGrey);">
								</div>
							</div>
							<div class="col-12 col-md-4">
								<div class="input-group">
									<button class="btn dropdown-toggle text-start flex-grow-1 text-white show" type="button" data-bs-toggle="dropdown" style="background-color: var(--basePurple); border: 1px solid var(--accentGrey); border-top-right-radius: var(--bs-btn-border-radius); border-bottom-right-radius: var(--bs-btn-border-radius);" aria-expanded="true">
										<span id="ModerationActionLabel">Select case type</span>
									</button>
									<ul class="dropdown-menu w-100 overflow-auto" style="max-height: 250px;">
										<li><a class="dropdown-item caseListItem" data-value="">All</a></li>
										{{range $_, $moderationAction := dict 1 "Warn" 2 "Mute" 3 "Kick" 4 "Ban"}}
										<li><a class="dropdown-item caseListItem" data-value="{{$moderationAction}}">{{$moderationAction}}</a></li>
										{{end}}
									</ul>
									<input type="hidden" id="moderationAction" name="ModerationAction" value="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table table-striped" id="casesTable" style="--bs-table-color: white; --bs-table-striped-color: white; --bs-table-striped-bg: rgb(30 30 30 / 50%);">
					<thead>
						<tr>
							<th>Case number</th>
							<th>Offender</th>
							<th>Moderator</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						{{range .Cases}}
						<tr>
							<td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{.CaseID}}Modal" style="background-color: var(--accentGrey); border: 1px solid var(--accentGrey);">{{.CaseID}}</button>
							<td>{{.OffenderUsername}} (<code>{{.OffenderID}}</code>)</td>
							<td>{{.StaffUsername}} (<code>{{.StaffID}}</code>)</td>
							<td>{{.Action}}</td>
						</tr>
						{{end}}
						<tr id="noResultsRow" class="text-center" colspan="4" {{if .Cases}} style=" display:none;" {{end}}><td colspan="4">No cases found.</td></tr>
					</tbody>
				</table>
				<div id="casesTable-pagination" class="mb-0 mt-2 d-flex justify-content-center"></div>
			</div>
			{{range .Cases}}
			<div class="modal fade" id="{{.CaseID}}Modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
				<div class="modal-dialog modal-dialog-centered modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5>Case #{{.CaseID}}</h5>
							<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
						</div>
						<div class="modal-body" style="border-bottom-right-radius: var(--bs-modal-inner-border-radius); border-bottom-left-radius: var(--bs-modal-inner-border-radius);">
							<table class="table table-striped-columns" style="--bs-table-color: white; --bs-table-striped-color: white;">
								<thead>
									<tr>
										<th>Offender</th>
										<th>Moderator</th>
										<th>Action</th>
										<th>Reason</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th>{{.OffenderUsername}} (<code>{{.OffenderID}}</code>)</th>
										<th>{{.StaffUsername}} (<code>{{.StaffID}}</code>)</th>
										<th><code style="font-weight: bold;">{{.Action}}</code></th>
										<th>{{.Reason}}</th>
									</tr>
									<tr colspan="4"><td colspan="4"><a class="btn btn-primary w-100" href="{{.LogLink}}" role="button" style="background-color: var(--accentGrey); border: 1px solid var(--accentGrey);">Link to Discord case</a></td></tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			{{end}}
		</div>
	</main>
	<script>
		document.addEventListener("DOMContentLoaded", () => {
			const caseFilters = [
			{ InputID: "searchOffender", ColumnIndex: 1 },
			{ InputID: "searchModerator", ColumnIndex: 2 },
			{ InputID: "moderationAction", ColumnIndex: 3 }
			];
			
			caseFilters.forEach(f => {
				const el = document.getElementById(f.InputID);
				if (el) el.addEventListener("input", () => filterCases("casesTable", "noResultsRow", caseFilters, true));
			});
			
			// Initial load
			filterCases("casesTable", "noResultsRow", caseFilters, true);
		});
	</script>
</body>
{{template "javascript" .}}
</html>
