<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="{{.HomeURL}}/static/img/avatar.png">
	<title>ASBWIG | {{.CurrentGuild.Name}}</title>
	<!-- Discord embed link -->
	<meta content="ASBWIG" property="og:title"/>
	<meta content="Oh boy it's another Discord bot" property="og:description"/>
	<meta content="{{.HomeURL}}" property="og:url"/>
	<meta content="#08060d" data-react-helmet="true" name="theme-color"/>
	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
	<!-- Bootstrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Custom CSS -->
	<link rel="stylesheet" href="{{.HomeURL}}/static/css/dashboard.css">
</head>
<body class="text-light">
	{{template "dashboard_nav" .}}
	<main id="main" class="d-flex m-4" style="background-color: var(--baseGrey); border-radius: 0.5rem">
		<div class="m-4 w-100">
			<a href="{{.HomeURL}}/dashboard/{{.CurrentGuild.ID}}/manage" class="btn text-light w-100" style="background-color: var(--accentGrey); border: 1px solid var(--accentGrey);">Home</a>
			<form id="CoreForm" method="POST">
				<input type="hidden" name="form_type" value="Core">
				<div class="d-flex flex-column justify-content-between align-items-sm-center mt-1 mb-0">
					<div class="order-2 w-100 mt-2">
						<div class="d-flex justify-content-between align-items-center flex-wrap w-100">
							<div class="d-flex align-items-center">
								{{toggleSwitch .ModerationConfig.ModerationEnabled "ModerationEnabled"}}
								<h2 class="mb-0">Moderation</h2>
							</div>
							<button type="submit" class="btn btn-success">Save core changes</button>
						</div>
					</div>
				</div>
				<div class="container-fluid my-4 px-0">
					<div class="row">
						<div class="col-md-4 mb-4">
							<div class="card">
								<div class="card-header">
									<h5>Modlog channel</h5>
								</div>
								<div class="card-body">
									<p class="card-text">Note: If <code>None</code> is selected, moderation commands won't run.</p>
									{{channelOptionsSingle .CurrentGuild.Channels .ModerationConfig.ModerationLogChannel "ModerationLogChannel"}}
								</div>
							</div>
						</div>
						<div class="col-md-4 mb-4">
							<div class="card">
								<div class="d-flex align-items-center card-header">
									{{toggleSwitch .ModerationConfig.ModerationTriggerDeletionEnabled "ModerationTriggerDeletionEnabled"}}
									<h5>Trigger deletion</h5>
								</div>
								<div class="card-body">
									<p class="card-text">Note: a time of <code>0</code> seconds is immediate</p>
									{{numberSelect 0 60 .ModerationConfig.ModerationTriggerDeletionSeconds "ModerationTriggerDeletionSeconds" (stringDict "label" true "labelContent" "seconds" "labelSide" "right")}}
								</div>
							</div>
						</div>
						<div class="col-md-4 mb-4">
							<div class="card">
								<div class="d-flex align-items-center card-header">
									{{toggleSwitch .ModerationConfig.ModerationResponseDeletionEnabled "ModerationResponseDeletionEnabled"}}
									<h5>Response deletion</h5>
								</div>
								<div class="card-body">
									<p class="card-text">Note: a time of <code>0</code> seconds is immediate</p>
									{{numberSelect 0 60 .ModerationConfig.ModerationResponseDeletionSeconds "ModerationResponseDeletionSeconds" (stringDict "label" true "labelContent" "seconds" "labelSide" "right")}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
			<h2 style="margin-top: 2px; margin-bottom: 0px;">Command settings</h2>
			<div id="restrictions" class="container-fluid my-4 px-0">
				<div class="row">
				{{range $_, $moderationAction := dict 1 "Warn" 2 "Mute" 3 "Kick" 4 "Ban"}}
					<div class="col">
						<div class="card {{$moderationAction}}">
							<div class="card-header">
								<h5>{{$moderationAction}}s</h5>
							</div>
							<div class="card-body">
								<p class="card-text">Core {{lower $moderationAction}} settings</p>
								<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{lower $moderationAction}}Modal">Edit {{lower $moderationAction}} config</button>
							</div>
							<div class="modal fade" id="{{lower $moderationAction}}Modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
								<div class="modal-dialog modal-dialog-centered modal-lg">
									<div class="modal-content">
										<div class="modal-header">
											<h5>{{$moderationAction}} settings</h5>
											<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
										</div>
										<form id="{{$moderationAction}}Form" method="POST">
											<input type="hidden" name="form_type" value="{{$moderationAction}}">
											<div class="modal-body">
												<p class="card-text">Required moderator roles</p>
												{{if eq $moderationAction "Warn"}}
												{{roleOptionsMulti $.CurrentGuild.Roles $.ModerationConfig.WarnRequiredRoles (printf "%sRequiredRoles"  $moderationAction) $.CurrentGuild.BotHighestRolePosition}}
												{{else if eq $moderationAction "Mute"}}
												{{roleOptionsMulti $.CurrentGuild.Roles $.ModerationConfig.MuteRequiredRoles (printf "%sRequiredRoles"  $moderationAction) $.CurrentGuild.BotHighestRolePosition}}
												<p class="card-text">Role given when a user is muted.</p>
												{{roleOptionsSingle $.CurrentGuild.Roles $.ModerationConfig.MuteRole "MuteRole" $.CurrentGuild.BotHighestRolePosition}}
												<p class="card-text">Enable the bot to manage the mute role.</p>
												{{toggleSwitch $.ModerationConfig.MuteManageRole "MuteManageRole"}}
												<p class="card-text">Remove and re-add the following roles on <code>mute</code> and <code>unmute</code>.</p>
												{{roleOptionsMulti $.CurrentGuild.Roles $.ModerationConfig.MuteUpdateRoles "MuteUpdateRoles" $.CurrentGuild.BotHighestRolePosition}}
												{{else if eq $moderationAction "Kick"}}
												{{roleOptionsMulti $.CurrentGuild.Roles $.ModerationConfig.KickRequiredRoles (printf "%sRequiredRoles"  $moderationAction) $.CurrentGuild.BotHighestRolePosition}}
												{{else if eq $moderationAction "Ban"}}
												{{roleOptionsMulti $.CurrentGuild.Roles $.ModerationConfig.BanRequiredRoles (printf "%sRequiredRoles"  $moderationAction) $.CurrentGuild.BotHighestRolePosition}}
												{{end}}
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close without saving</button>
												<button type="submit" class="btn btn-success">Save changes</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				{{end}}
				</div>
			</div>
		</div>
	</main>
	<div id="toastContainer" class="position-fixed top-0 end-0 p-3" style="z-index: 1100;"></div>
</body>
<script src="{{.HomeURL}}/static/js/dropdownDisplay.js"></script>
<script src="{{.HomeURL}}/static/js/saveForm.js"></script>
<script src="{{.HomeURL}}/static/js/toasts.js"></script>
<script src="{{.HomeURL}}/static/js/misc.js"></script>
</html>